<!-- about -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="about">
    <h2 class="w3-wide">About</h2>
    <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
    <p class="w3-justify">Game Changer is the idea emerged out of pure intension to help people become Mentally and Emotionally strong. 
      Having experienced series of tragic events since very young and growing up seeing how worse things have turned to become in the world. 
      I realized the only cause for Human Suffering is Being Mentally and Emotionally weak.
       </p>
       <p class="w3-justify">Game Changer present you deeper understanding of the self by answering intricate questions that we tend to ask every time we encounter a negative situation in life. 
      </p>
      <p class="w3-justify"> Why this is happening to me? 
      </p>
      <p class="w3-justify">What is my fault?
      </p>
      <p class="w3-justify">Why the pain and suffering? 
      </p>
      <p class="w3-justify">Why am I here in this world? What’s the purpose? And most important of all the questions, WHO AM I? 
      </p>
      <p class="w3-justify">We help you with the right knowledge about self with practical illustration using science and spirituality. 
        Which were understood from real life situations, further applied and experienced in Daily life. 
      </p>  
  </div> 
  