<!-- The companies Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="companies">
    <h2 class="w3-wide">Companies</h2>
    <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
    <p class="w3-justify">In seemingly developed and advanced world, where everyone is chasing merely for money, there’s no other abode superior than the work place is becoming the biggest cause of stress, anxiety and depression in individuals life’s in the name of competition. 
      Especially, in present times where there’s a high rise in Depression and Suicide rate among the grownups. It is not prudent for the authorities to deny the fact that the toxic work culture is the cause. Such ignorance will be detrimental for the companies existence in turn. 
      It’s essential to be in sync with the pace of the changing world. However, not at the cost of depriving lives. Companies who understands that occupational health is also a significant component of health, for we spend many hours at work. There are numerous psycho-social factors which governs at the work place.
       Companies inline with the value which says ‘Take care of the Employees and they will take care of your business’. Who wants to build a better work atmosphere at their habitation, which helps the employees improve their emotional well being, along side financial. 
      Game Changer is a great way to show your employees that you care for them  </p>
  </div>
  