<!-- The Organizations Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="organizations">
    <h2 class="w3-wide">Organizations</h2>
    <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
    <p class="w3-justify">The Executive authorities or the Heads of Schools and Colleges or Institutions who would like to offer or provide Self education along with the World education for their students to become strong minds and a well lived Human’s in the society. 
      Considering the fact disclosed in the former video on our website, based on W.H.O reports, that Suicide is the 4th leading cause of Death among 15 to 29 year old’s Globally. 
      Besides, the knowledge one gets in the world is not applied on Oneself, for the reason that it is Plethora of Education pertains to the world outside. 
      We all need to understand more than a formal education, a college degree. Self education and the Emotional degree is beyond everything for an individual.   </p>
  </div>
  