<html>
  <title>Game Changer Test</title>
  <!-- <img src="/assets/img/lion.jpg" style="width:100%"> -->
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    </style>

    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
          <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">Categories <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#individuals" class="w3-bar-item w3-button w3-padding-large w3-hide-small">INDIVIDUALS</a>
            <a href="#gindividuals" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GROUP OF INDIVIDUALS</a>
            <a href="#organizations" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ORGANIZATIONS</a>
            <a href="#companies" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COMPANIES</a>
          </div>
          </div>
          <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
          <a href="#topics" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOPICS</a>
          <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
      </div>
      </div>

  <!-- HOME -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="HOME">
    <h2 class="w3-wide">Game Changer</h2>
    <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
    <p class="w3-justify">Problems in life and how Game Changer would help you deal with them. 
      It is very prudent to believe that life is a struggle, as the history explicitly had plethora of incidents which proves that mankind is suffering one or the other way in different times and different ages at different levels. </p>
    <p class="w3-justify">Especially in today’s times, where there’s discord in the world. Everything is uncertain, problems in life seems to be never ending & unresolving. Thus, individual feels, life is a struggle. 
      On the other hand, contradictory to the above, we also believe and Live our life’s in hope, that life in general is beautiful, excellence is the very nature of life. For the same we all are in search, to experience the beauty of life by attaining lasting Peace, Happiness and Success. 
      Which is true, life in reality is beautiful but still none of us seems to be experiencing it. Besides, we often feel life is meaningless, at times we even question our existence in adversities, what is the purpose of our lives in this Physical World? </p>
    <p class="w3-justify">To understand the root cause of Peacelessness in the world today. Let’s go back in time, to have a fleeting glimpse of what were the biggest disasters in the history and it’s cause. 
       </p>
</div> 
<!-- about -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="about">
  <h2 class="w3-wide">About</h2>
  <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
  <p class="w3-justify">Game Changer is the idea emerged out of pure intension to help people become Mentally and Emotionally strong. 
    Having experienced series of tragic events since very young and growing up seeing how worse things have turned to become in the world. 
    I realized the only cause for Human Suffering is Being Mentally and Emotionally weak.
     </p>
     <p class="w3-justify">Game Changer present you deeper understanding of the self by answering intricate questions that we tend to ask every time we encounter a negative situation in life. 
    </p>
    <p class="w3-justify"> Why this is happening to me? 
    </p>
    <p class="w3-justify">What is my fault?
    </p>
    <p class="w3-justify">Why the pain and suffering? 
    </p>
    <p class="w3-justify">Why am I here in this world? What’s the purpose? And most important of all the questions, WHO AM I? 
    </p>
    <p class="w3-justify">We help you with the right knowledge about self with practical illustration using science and spirituality. 
      Which were understood from real life situations, further applied and experienced in Daily life. 
    </p>
  
</div> 
  <!-- The Individuals Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="individuals">
    <h2 class="w3-wide">Individuals</h2>
    <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
    <p class="w3-justify">Students, Working professionals, Male and Female, Young and Old. 
      All category of Individuals who are suffering with Mental or Emotional illness include Anxiety, Depression, Eating Disorders and Addictive Behaviours Or facing any sort of problems in life where you feel exhausted and striving to live a peaceful life. 
      We are here to listen understand and help you with the same. </p>
</div> 
<!-- The GIndividuals Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="gindividuals">
  <h2 class="w3-wide">Group of Individuals</h2>
  <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
  <p class="w3-justify">For Families and Friends who aspire to live a Happy, Healthy and Successful life, who ‘Have or Have not Problems' can also possibly opt for a Discourse from us.  </p>
</div>
<!-- The Organizations Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="organizations">
  <h2 class="w3-wide">Organizations</h2>
  <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
  <p class="w3-justify">The Executive authorities or the Heads of Schools and Colleges or Institutions who would like to offer or provide Self education along with the World education for their students to become strong minds and a well lived Human’s in the society. 
    Considering the fact disclosed in the former video on our website, based on W.H.O reports, that Suicide is the 4th leading cause of Death among 15 to 29 year old’s Globally. 
    Besides, the knowledge one gets in the world is not applied on Oneself, for the reason that it is Plethora of Education pertains to the world outside. 
    We all need to understand more than a formal education, a college degree. Self education and the Emotional degree is beyond everything for an individual.   </p>
</div>
<!-- The companies Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="companies">
  <h2 class="w3-wide">Companies</h2>
  <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
  <p class="w3-justify">In seemingly developed and advanced world, where everyone is chasing merely for money, there’s no other abode superior than the work place is becoming the biggest cause of stress, anxiety and depression in individuals life’s in the name of competition. 
    Especially, in present times where there’s a high rise in Depression and Suicide rate among the grownups. It is not prudent for the authorities to deny the fact that the toxic work culture is the cause. Such ignorance will be detrimental for the companies existence in turn. 
    It’s essential to be in sync with the pace of the changing world. However, not at the cost of depriving lives. Companies who understands that occupational health is also a significant component of health, for we spend many hours at work. There are numerous psycho-social factors which governs at the work place.
     Companies inline with the value which says ‘Take care of the Employees and they will take care of your business’. Who wants to build a better work atmosphere at their habitation, which helps the employees improve their emotional well being, along side financial. 
    Game Changer is a great way to show your employees that you care for them  </p>
</div>
<!-- The topics Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="topics">
  <h2 class="w3-wide">Topics</h2>
  <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
  <p class="w3-justify">Relationships,
    Health,
    Food,
    Happiness,
    Education,
    Exercise,
    Goal,
    Spirituality,
    Success,
    Self education.
    </p>
</div>
    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <p class="w3-opacity w3-center"><i> Drop a note!</i></p>
      <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> Visakhapatnam, Andhra Pradesh<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +91 8885 915 466<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: gamechanger@gmail.com<br>
      </div>
      <div class="w3-col m6">
          <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
              <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
              </div>
              <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
              </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
          </form>
      </div>
      </div>
  </div>         
</html>