<html lang="en">
  <head>
  <title>Game Changer Test</title>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {font-family: "Lato", sans-serif;}
    .mySlides {display:none}
    </style>
    <script>
      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
      </script>
  </head>
  <body>
        <!-- Navbar -->
    <div class="w3-top w3-center">
      <div class="w3-bar w3-white w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a routerLink="home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOME</a>
          <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">Categories <i class="fa fa-caret-down"></i></button>     
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a routerLink="individuals" class="w3-bar-item w3-button w3-padding-large w3-hide-small">INDIVIDUALS</a>
              <a routerLink="gindividuals" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GROUP OF INDIVIDUALS</a>
              <a routerLink="organizations" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ORGANIZATIONS</a>
              <a routerLink="companies" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COMPANIES</a>
            </div>
            </div>
          <a routerLink="about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
          <a routerLink="topics" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOPICS</a>
          <a routerLink="contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
      </div>
      <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
      </div>
      <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin: top 4px;">
        <a routerLink="about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT</a>
        <a routerLink="topics" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOPICS</a>
        <a hrouterLinkref="contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a> 
      </div>
<router-outlet></router-outlet>
</body>
</html>