  <!-- The Individuals Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="individuals">
    <h2 class="w3-wide">Individuals</h2>
    <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
    <p class="w3-justify">Students, Working professionals, Male and Female, Young and Old. 
      All category of Individuals who are suffering with Mental or Emotional illness include Anxiety, Depression, Eating Disorders and Addictive Behaviours Or facing any sort of problems in life where you feel exhausted and striving to live a peaceful life. 
      We are here to listen understand and help you with the same. </p>
</div> 
