  <!-- HOME -->
  <div class="w3-padding-64 w3-center">
    <img src=".\assets\img\lion - Copy.jpg" class="w3-circle" style="width:20%">
    <h2>For a Happy, Healthy and Successful Life</h2>
  </div>
  <div class="w3-container w3-content w3-center w3-padding-24" style="max-width:800px" id="HOME">
    <h2 class="w3-wide">Game Changer</h2>
    <p class="w3-opacity"><i>For a Happy, Healthy and Successful life</i></p>
    <p class="w3-justify">Problems in life and how Game Changer would help you deal with them. 
      It is very prudent to believe that life is a struggle, as the history explicitly had plethora of incidents which proves that mankind is suffering one or the other way in different times and different ages at different levels. </p>
    <p class="w3-justify">Especially in today’s times, where there’s discord in the world. Everything is uncertain, problems in life seems to be never ending & unresolving. Thus, individual feels, life is a struggle. 
      On the other hand, contradictory to the above, we also believe and Live our life’s in hope, that life in general is beautiful, excellence is the very nature of life. For the same we all are in search, to experience the beauty of life by attaining lasting Peace, Happiness and Success. 
      Which is true, life in reality is beautiful but still none of us seems to be experiencing it. Besides, we often feel life is meaningless, at times we even question our existence in adversities, what is the purpose of our lives in this Physical World? </p>
    <p class="w3-justify">To understand the root cause of Peacelessness in the world today. Let’s go back in time, to have a fleeting glimpse of what were the biggest disasters in the history and it’s cause. 
       </p>
</div> 
